.create-header {
  background-color: #222;
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
}

.more-pad {
  padding: 15px 30px;
}

.full-divider {
  width: 100%;
  height: 0.5px;
  background-color: #444;
  margin-top: 10px;
}

.full-divider.blue-bg {
  background-color: #2196F3;
}

.create-header h1 {
  margin-bottom: 0;
}

.game-form {
  padding: 25px 20%;
  background-color: #222;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.game-form form div {
  margin-bottom: 15px;
}

.game-form form div label {
  display: block;
  text-align: left;
  opacity: .6;
}

.hidden {
  opacity: 0;
}

.os-picker {
  font-size: 24pt;

}

.os-picker a {
  margin-right: 15px;
  color: #888;
  transition: all 0.2s ease-in;
}

.os-picker a:hover {
  color: white;
}

.os-picker .os-selected {
  color: white;
}

.gf-input, .gf-textarea {
  width: 100%;
  border: none;
  padding: 5px;
}

.gf-textarea {
  height: 100px;
  max-height: 100px;
}

.builds {
  font: -webkit-small-control;
}

.builds-subtitle {
  opacity: 0.6;
}

.empty-space {
  background-color: transparent;
  height: 50vh;
}
