.show-header {
  height: 45vh;
  background-color: #444;
  position: relative;
}

.sh-content {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.sh-content span {
  margin-left: 15px;
  color: #ddd;
}

.br-card {
  background-color: #222;
  margin-top: 15px;
  width: 295px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
}

.img-detail {
  width: 295px;
  height: 138px;
}

.show-description {
  margin: 15px 15px;
}

.details-card {
  background-color: #222;
  padding: 15px;
}

.right-bar {
  max-width: 280px;
  padding: 0;
  margin-right: 15px;
}

.left-bar {
  margin-top: 15px;
}

.sh-title {
  margin-bottom: 15px;
}

.play-btn {
  background-color: #2196F3;
  color: white;
  border-radius: 24px;
  padding: 5px 20px;
  transition: all .1s ease-out;
  margin-right: 15px;
}

.play-btn.downloading {
  background-color: #666;
  pointer-events: none;
  cursor: default;
}

.play-btn:hover {
  color: white;
  padding: 5px 30px;
  background-color: #42A5F5;
}

.play-btn:focus {
  color: white;
}

.follow-btn {
  background-color: rgba(17, 17, 17, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 24px;
  padding: 5px 20px;
  transition: all .1s ease-out;
  margin-right: 15px;
}

.follow-btn:hover {
  color: white;
  border-color: white;
  padding: 5px 30px;
}

.follow-btn:focus {
  color: white;
}

.star-btn {
  background-color: rgba(17, 17, 17, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 24px;
  transition: all .1s ease-out;
  padding: 3.5px 7.5px;
}

.star-btn:hover {
  color: white;
  border-color: white;
  padding: 5px 9px;
}

.star-btn:focus {
  color: white;
}

.gs-content {
  margin-bottom: 15px;
}

.hidden {
  display: none;
}
