.gli {
  padding: 17.5px;
  background-image: radial-gradient(ellipse at bottom, rgba(34, 34, 34, 0.7) 0%, #000 100%);

 transition: all 0.15s ease-in;
 color: #ccc;
 height: 140px;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bg-img {
  height: 140px;
  max-height: 140px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.15s ease-in;
}

.gli:hover ~ .bg-img, .gli:focus ~ .bg-img {
  background-size: 110%;
}

.gli:hover, .gli:focus {
  background-image: radial-gradient(ellipse at bottom, rgba(34, 34, 34, 0.5) 0%, #000 100%);
  color: #fff;
}

.quote {
  font-style: italic;
  font-size: 1.25rem;
  width: 100%;
  overflow: hidden;
}

.gameplay-date {
  float: right;
}

.modal-content {
  background-color: #222;
}

.modal-header {
  border-bottom: 1px solid #444;
}

.modal-body {
  background-color: #333;
  padding: 0
}

.modal-messages {
  padding: 15px;
  padding-bottom: 0;
}

.modal-messages p {
  text-align: justify;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.modal-messages h4 {
  color: #aaa;
}

.modal-footer {
  border-top: 1px solid #555;
}

.modal-dialog {
  width: 720px;
  max-width: 720px;
}

.star-btn.play {
  padding: 7.5px 12.5px;

}

.star-btn.play:hover {

}

.modal-desc {
  font-size: 1rem;
  opacity: 0.6;
  font-weight: lighter;
}

.string-date {
  float: right;
  font-size: 0.9rem;
}

.good-color {
  color: #00E676
}
