.gli {
  padding: 25px;
  background-image: radial-gradient(ellipse at bottom, rgba(34, 34, 34, 0.6) 0%, #111 100%), url(https://static1.squarespace.com/static/5005b4cb84ae929b37203d61/50f332e9e4b08d03393cf956/56e5f1048259b5a68418f30f/1457910613866/titan_souls_art.jpg?format=1500w);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
 transition: all 0.15s ease-in;
 color: #ccc;
 height: 140px;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.gli:hover, .gli:focus {
  background-size: 110%;
  background-image: radial-gradient(ellipse at bottom, rgba(34, 34, 34, 0.4) 0%, #111 100%), url(https://static1.squarespace.com/static/5005b4cb84ae929b37203d61/50f332e9e4b08d03393cf956/56e5f1048259b5a68418f30f/1457910613866/titan_souls_art.jpg?format=1500w);
  color: #fff;
}

.gli:hover .star-btn.play {
padding: 12.5px 17.5px;
}

.gameplay-date {
  float: right;
}

.modal-content {
  background-color: #222;
}

.modal-header {
  border-bottom: 1px solid #444;
}

.modal-body {
  background-color: #333;
  padding: 0
}

.modal-messages {
  padding: 15px;
  padding-bottom: 0;
}

.modal-messages p {
  text-align: justify;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.modal-messages h4 {
  color: #aaa;
}

.modal-footer {
  border-top: 1px solid #555;
}

.modal-dialog {
  width: 720px;
  max-width: 720px;
}

.star-btn.play {
  padding: 7.5px 12.5px;

}

.star-btn.play:hover {

}

.modal-desc {
  font-size: 1rem;
  opacity: 0.6;
  font-weight: lighter;
}
