.gli {
 padding: 17.5px;
 transition: all 0.15s ease-in;
 color: #ccc;
 height: 140px;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 overflow: hidden;
 background-color: #333;
 border-left: 10px solid #2196F3
}

.gli.seen {
  border-left: 10px solid #aaa
}

.gli:hover, .gli:focus {
  background-color: #444;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bg-img {
  height: 140px;
  max-height: 140px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.15s ease-in;
}

.quote {
  font-style: italic;
  font-size: 1.25rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
  font-weight: 300;
}

.gameplay-date {
  float: right;
}

.modal-content {
  background-color: #222;
}

.modal-header {
  border-bottom: 1px solid #444;
}

.modal-body {
  background-color: #333;
  padding: 0
}

.modal-messages {
  padding: 15px;
  padding-bottom: 0;
}

.modal-messages p {
  text-align: justify;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.modal-messages h4 {
  color: #aaa;
}

.modal-footer {
  border-top: 1px solid #555;
}

.modal-dialog {
  width: 720px;
  max-width: 720px;
}

.star-btn.play {
  padding: 7.5px 12.5px;

}

.star-btn.play:hover {

}

.modal-desc {
  font-size: 1rem;
  opacity: 0.6;
  font-weight: lighter;
}

.string-date {
  float: right;
  font-size: 0.9rem;
}

.good-color {
  color: #fff;/*#00E676*/
}

.ff-textarea {
  height: 65px;
  max-height: 150px;
  width: 100%;
}

.ff-input-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-tag.ff {
  margin-bottom: 5px;
  text-align: left;
}

.ff-gname {
  font-weight: bolder;
}

.ux-picker {
  margin-bottom: 25px;
  text-align: center;
}

.ux {
  padding: 7px 15px;
  color: #666;
  background-color: #ccc;
  margin-right: 15px;
  border-radius: 24px;
  transition: all 0.15s ease-in;

}

.ux:hover {
  padding: 7px 25px;
  color: #666;
  background-color: #eee;
}

.ux-good.active {
  color: white;
  background-color: #00E676;
}

.ux-medium.active {
  color: white;
  background-color: #FFEB3B;
}

.ux-issues.active {
  color: white;
  background-color: #F44336;
}

.modal-dialog.ff {
  width: 650px;
}

.leftify {
  float: left;
}

.play-ic {
  text-align: center;
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in;
}

.gli:hover .play-ic {
  color: #fff;
}

.close-btn {
  color: #666;
  float: right;
  font-size: 1.5rem;
}

.close-btn:hover, .close-btn:focus {
  color: #F44336;
}
