.notes-list {
  margin-top: 35px;
}

.notes-list h2 {
  margin-bottom: 25px;
}

.note-li {
  background-color: #333;
  width: 100%;
  height: 175px;
  padding: 15px;
}

.note-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.note-header {
  margin-bottom: 15px;
}

.note-content h3 {
  font-weight: bold;
}
