.empty-component {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #222;
    padding: 15px;
    text-align: center;
}

.empty-component p {
  margin-top: 25px;
}

.empty-component a {
  color: #2196F3;
  transition: all 0.15s ease-in;
}

.empty-component a:hover {
  color: #40C4FF;
}
