.game-list {
  padding: 20px;
}

.game-component {
  padding: 0;
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: #444;
}

.game-component:hover, .game-component.active {
  background-color: #666;
  margin-right: -15px;
}

.game-details {
  background-color: #666;
  padding-top: 20px;
  width: inherit;
  height: 100vh;
}

.list-card .lc-image img {
  height: 85px;
  width: 182px;
}

.list-card .lc-image {
  float: left;
}

.list-card .lc-content {
  color: white;
  margin-left: 20px;
  float: right;
}

.details-img {
  width: 300px;
  height: 175px;
  margin-bottom: 5px;
}
