.show-header {
  height: 45vh;
  background-color: #444;
  position: relative;
}

.sh-content {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 15px;
}

.br-card {
  background-color: #222;
  margin-top: 15px;
  width: 295px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
}

.img-detail {
  width: 295px;
  height: 138px;
}

.show-description {
  margin: 15px 15px;
}

.details-card {
  margin: 15px;
  background-color: #222;
  padding: 0;
}

.right-bar {
  max-width: 280px;
  padding: 0;
  margin-right: 15px;
}
