.analytics-container {
  background-color: #444;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.analytics-grid {
  padding-top: 15px;
  padding-bottom: 15px;
}

.analytics-grid h2 {
  color: rgba(255,255,255,0.7);
  margin-bottom: 15px;
}

.analytics-card {
  text-align: center;
}

.ac-header {
  background-color: #333;
  padding: 7.5px;
}

.ac-content {
  background-color: #222;
  padding: 15px;
}

.ev-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.ev-value {
  font-size: 1.4rem;
}
