#menu {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 190px;
  height: auto;
  overflow-y: auto;
  background-color: #222;
}

.menu-header {
  margin-top: 25px;
}

.search-bar {
  margin-top: 15px;
  padding: 0 15px;
}

.menu-category {
  margin: 15px 0px;
}

.menu-title {
  color: rgba(150, 150, 150, 0.5);
}

.menu-ul {
  padding: 5px 10px;
}

.menu-ul a {
  color: rgba(255, 255, 255, 0.8);
}

.menu-ul a:hover {
  color: #fff;
}

.username {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.9);
}

.menu-profile:hover .username, .menu-profile:focus .username {
  color: #fff;
}

.input-group-addon {
  color: #111;
  border: none;
  border-radius: 1.25rem;
}

.form-control {
  border: none;
  border-radius: 1.25rem;
  color: #111;
}

.menu-profile {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
